<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <h2>User</h2>
    <div class="menu">
        <a class="menu-section checked-section" th:href="@{~/dashboard}">
            <div class="menu-logo">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="menu-section-text">
                <span>Dashboard</span>
            </div>
        </a>
        <a class="menu-section" th:href="@{~/appointment}">
            <div class="menu-logo">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div class="menu-section-text">
                <span>Appointment</span>
            </div>
        </a>
        <a class="menu-section" th:href="@{~/profileEdit}">
            <div class="menu-logo">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="menu-section-text">
                <span>Profile</span>
            </div>
        </a>
        <a class="menu-section" th:href="@{~/settings}">
            <div class="menu-logo">
                <i class="fa fa-gear" aria-hidden="true"></i>
            </div>
            <div class="menu-section-text">
                <span>Settings</span>
            </div>
        </a>
        <a class="menu-section" th:href="@{~/logout}">
            <div class="menu-logo">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
            <div class="menu-section-text">
                <span>Logout</span>
            </div>
        </a>
    </div>
</body>
</html>
